.flex-search {
  display: flex;

  &-input {
    font-size: 14px;
    border: 0;
    outline: none;
    padding: 6px;
    background-color: rgba(0,0,0,.2);
    color: #F3E5F5;

    &:active,
    &:focus {
      background-color: #fff;
      color: #9d27b0;
    }

    &:first-child {
      border-radius: 4px 0 0 4px;
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
    }

    &::placeholder {
      color: #E1BEE7;
    }
  }




}