.card {
  &-container {
    padding-bottom: 3rem;
  }

  border: 1px solid #F3E5F5;
  border-radius: 4px;
  background: #fff;
  color: #4a4a4a;
  height: 100%;

  &:hover {
    border-color: #9C27B0;
  }

  &-poster {
    padding-top: 58%;
    overflow: hidden;
    position: relative;

    img {
      max-width: 100%;
      position: absolute;
      top: 0;
      left: 0;

    }
  }

  &-body {
    display: flex;
    flex-direction: column;

    &-txt {
      flex: 1 1 auto;
    }

    &-act {
      margin-top: 10px;
    }
  }

  &-text {
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 3;
  }
}

.no-record {
  font-weight: 300;
  font-size: 24px;

  .text-primary {
    font-weight: 400;
  }
}