.login,
.signup {
  &-container {
    padding-top: 64px;
    padding-bottom: 64px;
    max-width: 450px;
    margin: 0 auto;
  }

  &-card {
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid transparent;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  
    &-h {
      margin: 40px 20px 0;
      line-height: 1.5;
      font-size: 24px;
      color: $primary;
      text-align: center;
    }
  
    &-b {
      padding: 40px;
    }

    &-f {
      padding: 20px;
      background-color: $primary-light;
      border-radius: 0 0 8px 8px;
    }
  }

  &-form {
    .form-label {
      font-size: 13px;
      font-weight: 400;
      margin-bottom: 0;
    }

    .btn {
      width: 100%;
    }
  }
}